<h1>Editing Patient Identifier Type</h1>

<%= render 'form', patient_identifier_type: @patient_identifier_type %>

<%= link_to 'Show', @patient_identifier_type %> |
<%= link_to 'Back', patient_identifier_types_path %>
