<h1>Editing Person Attribute Type</h1>

<%= render 'form', person_attribute_type: @person_attribute_type %>

<%= link_to 'Show', @person_attribute_type %> |
<%= link_to 'Back', person_attribute_types_path %>
